:root {
    font-size: 62.5%;
    --cor-fonte-primaria: #464646;
    --cor-fonte-secundaria: #A3A3A3;
    --cor-fonte-terciaria: #FFFFFF;
    --cor-fonte-quarternaria: #4894FF;


    --cor-botao-primaria: #FFB050;
    --cor-botao-secundaria: #4894FF;
    --cor-botao-terciaria: #FFFFFF;

    --cor-fundo-primaria:#FFFFFF;
}

body {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
    background: linear-gradient(135deg, #F8F4FF 0%, #EFF0F4 100%);
    position: relative;
}

main {
    flex: 1;
}

/* ESTILIZAÇÕES GERAIS DOS CARDS */
.card-perfil {
    display: grid;
    column-gap: 1.6rem;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: max-content 1fr max-content;
    grid-template-areas:
        "foto-perfil nome chat"
        "foto-perfil consulta-desc chat";
}

.card-perfil__foto {
    border-radius: 50%;
    width: 32px;
    grid-area: foto-perfil;
}

.card-perfil__nome {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 2.2rem;
    align-self: end;
    color: var(--cor-fonte-primaria);
    grid-area: nome;
}

.card-perfil__consulta-desc {
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.92rem;
    align-self: center;
    color: var(--cor-fonte-secundaria);
    grid-area: consulta-desc;
}

/* CABECALHO */
.cabecalho {
    padding: 3.2rem 1.6rem 2.2rem;
}

.cabecalho .card-perfil {
    grid-template-areas:
        "foto-perfil nome"
        "foto-perfil consulta-desc";
}

.cabecalho .card-perfil__foto {
    width: 57px;
}

.cabecalho .card-perfil__nome {
    font-size: 2.2rem;
}

.cabecalho .card-perfil__consulta-desc {
    font-size: 1.4rem;
}

/* SESSÃO DE CONSULTAS */
.consultas {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    padding: 0 1.6rem 1.6rem;
    align-items: center;
}
/* CONSULTAS DO DIA */
.consultas__titulo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--cor-fonte-primaria);
    line-height: 4rem;
}

.consultas__do-dia {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

.card-consulta {
    border-radius: 8px;
    background-color: var(--cor-fundo-secundaria);
    backdrop-filter: blur(11px);
    padding: 1.6rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
    min-width: 300px;
    max-width: 448px;
}

.card-consulta__chat {
    width: 32px;
    grid-area: chat;
    background: url("../img/icons/chatCirculo1.svg") no-repeat;
}

.card-consulta__linha {
    margin: 0 -1.6rem;
    height: 1px;
    background-color: var(--cor-fonte-primaria);
    opacity: 0.10000000149011612;
}

.card-consulta__hora {
    color: var(--cor-fonte-primaria);
    font-size: 1.2rem;
    font-weight: 500;
}

.remota::before {
    content: url("../img/icons/camera.svg");
    padding-right: 0.8rem;
}

.presencial::before {
    content: url("../img/icons/localizacao.svg");
    padding-right: 0.8rem;
    position: relative;
    top: 0.2rem;
}

.card-consulta__botoes {
    display: flex;
    gap: 1.8rem;
}

.btn {
    font-size: 1.4rem;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    line-height: 2.24rem;
    border-radius: 8px;
    padding: 1.3rem 0;
    width: 100%;
}

.btn--laranja {
    color: var(--cor-fonte-terciaria);
    background-color: var(--cor-botao-primaria);
}

.btn--branco {
    border: 1px solid #ECECEC;
    color: var(--cor-fonte-primaria);
}

.btn--azul {
    color: var(--cor-fonte-terciaria);
    background-color: var(--cor-botao-secundaria);
}
/* CADASTRO DE CONSULTAS */
/* BOTÕES AREA CADASTRAR NOVA CONSULTA */
.btn--azul--redondo{
    display: block;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    box-shadow: 0 4px 16px var(--cor-botao-secundaria);
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
}
.btn--cadastrar{   
    background-image: url(../img/icons/btn-mais.svg);
    background-size: 16px ;
}
.cadastro-consulta__opcao:nth-child(1){
    order: 3;
}
#cadastro-consulta-btn{
    display:none;
}
/* #cadastro-consulta-btn:checked~.cadastro-consulta__opcao{
    display: flex;
} */
/* BOTÕES CONSULTA REMOTA E PRESENCIAL */
.cadastro-consulta__opcoes{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    position: sticky;
    bottom: 1.6rem;
    left: 100%;
    margin-right: 16px;
    bottom: 74px;
    z-index: 2;
}

.cadastro-consulta__opcao{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1.6rem;
}
.cadastro-consulta__opcao:not(:first-child){
    display: none;
}
/* .opcao__texto{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.92rem;
    color: var(--cor-fonte-primaria);
    text-align: center;
    background-color: var(--cor-botao-terciaria);
    padding: 0.2rem 0.8rem;
    border-radius: 16px;
} */
/* .opcao__btn-presencial{
    background-image: url(../img/icons/btn-presencial.svg);
    background-size: 20px 24px;
}
.opcao__btn-remota{
    background-image: url(../img/icons/btn-remota.svg);
    background-size: 24px 16px;
} */
/* RODAPE */
.rodape{
    position:sticky;
    bottom: 0;
    background-color: var(--cor-botao-terciaria);
    height: 4rem;
    padding: 1rem 0 0.8rem 0;
    border-radius: 12px 12px 0 0
}
.rodape__lista{
    display: flex;
    justify-content: space-around;
    align-items: end;
}
.rodape__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rodape__item:last-child{
    gap: 0.5rem;
}
.item__icone{
    max-width: 24px;
}
.item__link{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.9rem;
    color: var(--cor-fonte-primaria);
}
.rodape__item:first-child .item__link{
    color: var(--cor-fonte-quarternaria);
}
@media screen and (min-width:720px){
    .consultas__titulo{
        font-size: 1.8rem;
    }
    .consultas__do-dia{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width:1024px){
    body{
        display: grid;
        grid-template-columns: 15% 1fr;
        grid-template-areas: 
                "rodape-aside cabecalho"
                "rodape-aside conteudo";
    }
    .cabecalho{
        grid-area:cabecalho;
    }
    main{
        grid-area: conteudo;
    }
    
    /* RODAPE */
    .rodape{
        grid-area:rodape-aside;
        position: static;
        height: auto;
        padding: 0;
        border-radius: 0;
        border-right: solid 4px rgba(70, 70, 70, 0.1);
    }
    .rodape__lista{
        flex-direction: column;
        justify-content:flex-start;
        align-items: start;
        padding: 3.2rem 0 0 2rem;
        gap: 2rem;
    }
    .rodape__item{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    .rodape__item:last-child{
        gap:1rem;
    }
    .item__icone{
        width: 28px;
    }
    .item__link{
        font-size: 1.4rem;
    }
    .item__link:hover{
        border-bottom: solid 2px var(--cor-botao-secundaria);
    }
}
@media screen and (min-width:1440px){
    .consultas__do-dia{
        grid-template-columns: repeat(3, 1fr);
    }
}