:root{
    font-size: 62.5%;
    --cor-fonte-primaria: #464646;
    --cor-fonte-secundaria: #A3A3A3;
    --cor-fonte-terciaria: #FFFFFF;
    --cor-botao-primaria: #FFB050;
    --cor-botao-secundaria: #4894FF;
}
body{
    font-family: 'Montserrat', sans-serif;
}